doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= title
    script(src='./assets/app.js')
    script(src='./assets/app.vendor.js')
  body
      block header
      block content
      block footer