doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= title
    script(src='./assets/app.js')
    script(src='./assets/vendors.app.js')
  body
    include navBar.pug
    include tabs.pug
    
    block header
    block content
    block footer
