extends /layouts/application.pug

block content
  - const taskId = formObj.object.id;
  .container
    .py-4.text-center
      h2 Edit Task

  .container.col-md-2
    +formFor({ url: urlFor('patchTask', taskId), method: 'patch' })
      +input(formObj, 'name')
      +input(formObj, 'description')
      .form-group
        label= 'tags'
        input(name='tags' class='form-control' type='text' value= tags ? tags : '')
      +dropdownStatuses(statuses)
      +dropdownUsers(users)
      +button()

