extends /layouts/application.pug

block content
  .container
    .py-4.text-center
      h2 Add New Task

  .container.col-md-2
    +formFor({ url: urlFor('tasks'), method: 'post' })
      +input(formObj, 'name')
      +input(formObj, 'description')
      +input(formObj, 'tags')
      +dropdownUsers(users)
      //- .form-group
      //-   label Assign Worker
      //-   select.form-control(name='worker')
      //-     option No worker
      //-     if users
      //-       each user in users
      //-         option= `${user.id} | ${user.getFullname()} | ${user.email}`
      +button()

