extends /layouts/application.pug

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 Hexlet Task Manager
      p.lead
        | This is a simple task manager app powered by NodeJS and Koa.
