extends /layouts/application.pug

block content
  .container
    .py-4.text-center
      h2 Edit Profile
      p.h6
        | Just fill forms and click 'Submit'

  .container
    +formFor({ url: urlFor('users'), method: 'patch' })
      +input(formObj, 'email')
      +input(formObj, 'firstName')
      +input(formObj, 'lastName')
      +button()

