extends /layouts/application.pug

block content
  .container
    .py-4.text-center
      h2 Registration
      p.h6
        | Just fill forms and click 'Submit'

  .container.col-md-2
    +formFor({ url: urlFor('users'), method: 'post' })
      +input(formObj, 'email')
      +input(formObj, 'firstName')
      +input(formObj, 'lastName')
      +input(formObj, 'password', { as: 'password' })
      +button()


  //- .container
   //-   form(action='/users' method= 'post')
  //-     .form-group
  //-       label email
  //-       input(class='form-control' name= 'email' type='text' placeholder='Enter email' value=formObj.object['email'])
  //-       if formObj.errors['email']
  //-         .form-control-feedback= formObj.errors['email'].map(({ message }) => message).join('. ')

  //-     .form-group
  //-       label firstName
  //-       input(class='form-control' name= 'firstName' type='text' placeholder='Enter firstName')

  //-     .form-group
  //-       label lastName
  //-       input(class='form-control' name= 'lastName' type='text' placeholder='Enter lastName')

  //-     .form-group
  //-       label password
  //-       input(class='form-control' name= 'password' type='password')
  //-     button.btn.btn-primary(type="submit") Submit
