extends /layouts/application.pug

block content
  .container
    .py-4.text-center
      h2= user.getFullname()
      p.h6= `Registration Date: ${user.createdAt}`

  .container
    .py-4.text-center
      h2 Tasks Created

    .container.text-left
      if tasks
        each task in tasks
          h5
            a.nav-link(href=urlFor('viewTask', task.id))= task.name


